/***************************
****************************
Стили переписать
****************************
***************************/

.chatblockcontainer {
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: "Maiandra GD", serif ;
    font-size: x-large;
    width: 70%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.6);
    border-color: rgba(186, 85, 211, 0.5);
    border-width: thick;
    border-style: solid;
}

.chatblockname, .chattextheader {
    font-size: 1.5em;
}

.chatmainblock{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 32px;
    padding-top: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: "Maiandra GD", serif;
    font-size: large;
    letter-spacing: 1px;
    transition-duration: 2s;
    width: 90%;
}

.chat{
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: mediumorchid solid 1px;
    flex-wrap: wrap;
}

.chattext{
    margin: 1%;
    text-decoration: none;
    overflow-x:hidden;
    display: flex;
    max-width: 100%;
}

.chatblockinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
}

.chatinput {
    font-size: 1em;
    margin: 3%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    max-width: 100%;
    width: 80%;
    font-family: "Maiandra GD", serif ;
}

.chatinput:focus{
    border-bottom: 1px solid mediumorchid;
}

.addbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    height: 100%;
    max-width: 100%;
}

.addbutton:hover{
    background-color: darkorchid;
}

.addnewchattext{
    margin-top: 3px;
    transition: 0.3s;
    font-size: 1.3em;
}

.addnewchattext:hover{
    margin-top: 3px;
    color: orchid;
    cursor: pointer;
}

.link{
    color: mediumorchid;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.link:hover{
    color: #ffbc2e;
    text-decoration: none;
}

/***************************
****************************
Адаптив
****************************
***************************/


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
    .header{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .headertodologo{
        width: 100%;
        justify-content: center;
        font-size: 1.5em;
    }
    .links {
        width: 100%;
    }
    .chatblockname, .chattextheader {
        font-size: 1em;
    }
    .chatinput {
        width: 100%;
    }
    .addbutton {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    .chat{
        height: auto;
    }
    .chattext{
        width: 100%;
        justify-content: center;
    }

    .addnewchattext{
        font-size: 0.9em;
    }

}

@media screen and (max-width: 575px) {

}
