
.todoseparetecontainer {
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: "Maiandra GD", serif ;
    font-size: x-large;
    width: 70%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.6);
    border-color: rgba(186, 85, 211, 0.5);
    border-width: thick;
    border-style: solid;
}

.todosepareteblockname {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todoblockinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
}

.todoblockbuttontype {
    margin: 3%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.todotypetext{
    display: flex;
    justify-content: center;
}

.todoinput {
    font-size: 1em;
    margin: 3%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    max-width: 100%;
    width: 80%;
    font-family: "Maiandra GD", serif ;
}

.todoinput:focus{
    border-bottom: 1px solid mediumorchid;
}

.addbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    height: 100%;
    max-width: 100%;
}

.addbutton:hover{
    background-color: darkorchid;
}

.activetab{
    background-color: mediumorchid;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 100%;
    width: 30%;
}
.activetab:hover{
    background-color: darkorchid;
}

.nonactivetab{
    background-color: #cccccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    margin-right: 1%;
    margin-left: 1%;
    max-width: 100%;
    width: 30%;
}

.nonactivetab:hover{
    background-color: #e0e0e0;
}

.todoseparatemainblock {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 32px;
    padding-top: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: "Maiandra GD", serif;
    font-size: large;
    letter-spacing: 1px;
    transition-duration: 2s;
    width: 90%;
}

.todo{
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: mediumorchid solid 1px;
    flex-wrap: wrap;
}

.todobuttons{
    max-width: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
}

.tododonebutton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    margin: 5px;
    max-width: 100%;
}

.tododonebutton:hover{
    background-color: hotpink;
}

.tododeletebutton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: darksalmon;
    outline: none;
    max-width: 100%;
}

.tododeletebutton:hover{
    background-color: #ff610f
}

.todotext{
    margin: 1%;
    text-decoration: none;
    overflow-x:hidden;
    display: flex;
    width: 70%;
    max-width: 100%;
}

.todotextdone{
    margin: 1%;
    text-decoration: line-through;
    overflow-x:hidden;
    display: flex;
    width: 70%;
    max-width: 100%;
}

.tasklist{
    font-size: 1.4em;
}

.addnewtasktext{
    margin-top: 3px;
    transition: 0.3s;
    font-size: 1.3em;
}

.addnewtasktext:hover{
    margin-top: 3px;
    color: orchid;
    cursor: pointer;
}

.addtodoproject{
    display: flex;
}

.projectSelectWrapper{
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 3px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    padding: 6px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.projectSelectWrapper:hover{
    box-sizing: border-box;
    border: 3px solid darkorchid;
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: darkorchid;
    cursor: pointer;
}

.projectSelect {
    height: 100%;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid mediumorchid;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
}

.projectSelect:hover {
    /*border: 2px solid darkorchid;*/
    border: 2px solid #ffffff;
}

.projectSelect:focus {
    border: 2px solid #ffffff;
    font-weight: bold;
}

.projectSelect > option {
    outline: none;
    font-weight: bold;
}

.todoprojectblockheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 1em;
}


.addbuttonproject{
    padding: 5px 7px;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    max-width: 100%;
    width: 300px;
    height: 50%;
    margin-top: 2%;
}

.addbuttonproject:hover {
    background-color: darkorchid;
}

.todoblockinputproject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.availableProjectHandler{
    cursor: pointer;
    transition: 0.3s;
}

.availableProjectHandler:hover{
    color: mediumorchid;
    cursor: pointer;
}

.todoprojectblockmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoprojectblockbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.deleteprojectbutton{
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
    font-weight: bold;
}
.deleteprojectbutton:hover{
    background-color: rgba(128,128,128, 0.7);
    color: black;
}

.changeUserTodoCompletedTrue{
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.8em;
    text-align: center;
    margin: 1px;
    transition: 0.3s;
}

.changeUserTodoCompletedTrue:hover{
    background-color: #cccccc;
}
.changeUserTodoCompletedNon{
    cursor: pointer;
    position: relative;
}

/***************************
****************************
Адаптив
****************************
***************************/


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
    .header{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .headertodologo{
        width: 100%;
        justify-content: center;
        font-size: 1.5em;
    }
    .links {
        width: 100%;
    }
    .todoinput {
        width: 100%;
    }
    .addbutton {
        width: 100%;
    }
    .todosepareteblockname{
        font-size: 1em;
        font-weight: bold;
    }
    .tasklist{
        font-size: 0.9em;
        font-weight: bold;
    }
    .todoprojectblockbottom{
        font-size: 1em;
        font-weight: bold;
    }
}

@media screen and (max-width: 767px) {
    .todoupblockcontainer{
        width: 90%;
    }
    .activetab{
        width: 100%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }
    .nonactivetab{
        width: 100%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }
    .todo{
        height: auto;
    }
    .todotextdone,  .todotext{
        width: 100%;
        justify-content: center;
    }
    .todobuttons{
        width: 100%;
        margin-bottom: 2%;
    }
    .tododeletebutton , .tododonebutton {
        width: 45%;
    }
    .todosepareteblockname{
        font-size: 0.8em;
        text-align: center;
        font-weight: bold;
    }
    .addnewtasktext{
        font-size: 0.9em;
    }
    .todoprojectblockheader{
        font-size: 0.8em;
        font-weight: bold;
    }
    .projectSelect{
        width: 100%;
    }
    .todoprojectblockheader{
        flex-direction: column;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .todoprojectblockbottom{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 575px) {
    .tododeletebutton , .tododonebutton {
        width: 90%;
    }
    .todoprojectblockheader{
        font-size: 0.7em;
        font-weight: bold;
    }
    .addbuttonproject{
        width: 200px;
    }
    .todoprojectblockbottom{
        font-size: 0.7em;
        font-weight: bold;
    }
}
