.logo{
    font-family: Logo, cursive;
    max-width: 100%;
    min-width: 40%;
    width: 50%;
    height: 50%;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
}

.links{
    text-decoration: none;
    color: black;
    text-align: center;
}

.active{
    color: orange;
}