.todoupblockcontainer {
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: "Maiandra GD", serif ;
    font-size: x-large;
    width: 70%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.6);
    border-color: rgba(186, 85, 211, 0.5);
    border-width: thick;
    border-style: solid;
}

.profilePhoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(186, 85, 211, 0.5);
    font-size: 100px;
    transition: 0.3s;
    border: 3px solid #ff8f44;
    margin-bottom: 2%;
}

.profilePhoto:hover{
    cursor: pointer;
}

.profileName{
    width: 90%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(186, 85, 211, 0.5);
    border: 3px solid #ff8f44;
    border-radius: 8px;
    margin-top: 2%;
    padding: 15px;
}

.profileEmail{
    width: 90%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(186, 85, 211, 0.5);
    border: 3px solid #ff8f44;
    border-radius: 8px;
    margin-top: 2%;
    padding: 15px;
}

.profileRegisterdate{
    width: 90%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(186, 85, 211, 0.5);
    border: 3px solid #ff8f44;
    border-radius: 8px;
    margin-top: 2%;
    padding: 15px;
}


/***************************
****************************
Адаптив
****************************
***************************/


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    .profileName, .profileRegisterdate, .profileEmail{
        font-size: 0.8em;
        font-weight: bold;
    }
}

@media screen and (max-width: 400px) {
    .profileRegisterdate{
        font-size: 0.6em;
        font-weight: bold;
    }
}
