.header {
    font-family: "Maiandra GD", serif;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(186, 85, 211, 0.5);
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mobileheader{
    font-family: "Maiandra GD", serif;
    font-weight: bold;
    font-size: 1.5em;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(186, 85, 211, 0.5);
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 50px;
}

.mobileheadertop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mobileheadertodologo{
    font-family: Logo, cursive;
    max-width: 100%;
    min-width: 40%;
    width: 50%;
    height: 50%;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
}

.headeropenbutton{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 25px;
}

.fakebutton{
    height: 50px;
    width: 50px;
}

.headeropenbutton path:hover{
    fill: mediumorchid;
}

.mobilelinks{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobilelink{
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 35px;
}

.mobilelink:hover{
    background-color: darkorchid;
    opacity: 0.5;
}


.headertodologo {
    font-family: Logo, cursive;
    max-width: 100%;
    min-width: 40%;
    width: 50%;
    height: 50%;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1%;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1%;
    justify-content: center;
    align-items: center;
}

.links > a:link {
    text-decoration: none;
    margin: 1%;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.links > a:hover {
    text-decoration: none;
    margin: 1%;
    color: rgba(0, 0, 0, 1);
}

.links > a.active {
    color: rgba(0, 0, 0, 1);
}


@media screen and (max-width: 991px) {
    .header {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .mobileheader{
        display: flex;
    }

    .headertodologo {
        width: 100%;
        justify-content: center;
        font-size: 1.5em;
    }

}





