/***************************
****************************
Стили переписать
****************************
***************************/

.chatblockcontainer {
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  letter-spacing: 1px;
  font-family: "Maiandra GD", serif ;
  font-size: x-large;
  width: 70%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, 0.6);
  border-color: rgba(186, 85, 211, 0.5);
  border-width: thick;
  border-style: solid;
}

.chatblockname, .chattextheader {
  font-size: 1.5em;
}

.chatmainblock{
  overflow-y: scroll;
  margin-top: 15px;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 32px;
  padding-top: 12px;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: "Maiandra GD", serif;
  font-size: large;
  letter-spacing: 1px;
  transition-duration: 2s;
  width: 90%;
}

.message{
  align-self: flex-end;
  background-color: rgba(186,85,211,0.8);
  width: 80%;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: mediumorchid solid 1px;
  flex-wrap: wrap;
}

.mymessage{
  background-color: rgba(255,91,0,0.8);
  align-self: flex-start;
  width: 80%;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: mediumorchid solid 1px;
  flex-wrap: wrap;
}

.messagecreator{
  text-align: center;
  margin: 1%;
  text-decoration: none;
  overflow-x:hidden;
  display: flex;
  max-width: 100%;
  font-weight: bold;
  opacity: 1;
}

.messagetext{
  margin: 1%;
  text-decoration: none;
  overflow-x:hidden;
  display: flex;
  max-width: 100%;
  width: 70%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
  opacity: 1;
}

.todoinput {
  font-size: 1em;
  margin: 3%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  max-width: 100%;
  width: 80%;
  font-family: "Maiandra GD", serif ;
}

.todoinput:focus{
  border-bottom: 1px solid mediumorchid;
}

.addbutton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  background-color: mediumorchid;
  outline: none;
  height: 100%;
  max-width: 100%;
}

.addbutton:hover{
  background-color: darkorchid;
}

.todoblockinput{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
}

/***************************
****************************
Адаптив
****************************
***************************/


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {
  .chatmainblock{
    height: 400px;
  }
}

@media screen and (max-width: 991px) {
  .header{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .headertodologo{
    width: 100%;
    justify-content: center;
    font-size: 1.5em;
  }
  .links {
    width: 100%;
  }
  .chatblockname, .chattextheader{
    font-size: 1em;
  }
  .chatmainblock{
    height: 350px;
  }
  .message{
    height: auto;
    width: 100%;
  }
  .mymessage{
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .chatblockcontainer{
    width: 90%;
  }
  .mymessage{
    height: auto;
    width: 100%;
  }
  .messagetext{
    width: 100%;
    justify-content: center;
  }
  .messagecreator{
    width: 100%;
    justify-content: center;
  }
  .chatmainblock{
    width: 100%;
  }
  .chatmainblock{
    height: 300px;
  }
  .addbutton{
    width: 100%;
  }
}

@media screen and (max-width: 575px) {

}
