.logincontainer{
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: "Maiandra GD", serif ;
    font-size: x-large;
    width: 70%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.6);
    border-color: rgba(186, 85, 211, 0.5);
    border-width: thick;
    border-style: solid;
    margin-top:1%;
}

.logintitle {
    font-size: 1.2em;
    font-weight: bold;
}

.logininputcontainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 32px;
    padding-top: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: "Maiandra GD", serif;
    font-size: large;
    letter-spacing: 1px;
    transition-duration: 2s;
    width: 90%;
}

.errortitle{
    margin: 1%;
    font-size: 1.2em;
    color: rgba(255, 0, 0, 0.7);
    font-weight: bold;
}

.logininputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logininput {
    font-size: 1em;
    margin: 3%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    max-width: 100%;
    width: 70%;
    font-family: "Maiandra GD", serif ;
}

.logininput:focus{
    border-bottom: 1px solid mediumorchid;
}

.name, .email, .password {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginbutton {
    width: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    height: 100%;
    max-width: 100%;
    margin-top: 8px;
}

.loginbutton:hover{
    background-color: darkorchid;
}

.alredylogin {
    margin: 5%;
}

.link{
    text-decoration: none;
    color: rgba(255,0,0, 0.6);
    transition: 0.3s;
}

.link:hover{
    text-decoration: none;
    color: rgba(0,0,0, 1);
}

.link:active {
    color: rgba(0,0,0, 1);
}

.witherror{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    color: red;
}

/***************************
****************************
Адаптив
****************************
***************************/


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
    .header{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .headertodologo{
        width: 100%;
        justify-content: center;
        font-size: 1.5em;
    }
    .links {
        width: 100%;
    }
    .logincontainer{
        height: 90%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 767px) {
    .loginbutton{
        width: 100%;
    }
    .logininput{
        font-size: 0.8em;
    }
    .errortitle, .logintitle{
        font-size: 0.9em;
        margin: 1%;
    }
    .alredylogin{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 575px) {
    .logininputs{
        font-size: 0.9em;
        width: 100%;
    }
    .errortitle, .logintitle{
        font-size: 0.8em;
        margin: 1%;
    }
    .alredylogin{
        font-size: 1.2em;
    }
}
