.todoupblockcontainer {
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: "Maiandra GD", serif;
    font-size: x-large;
    width: 70%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(186, 85, 211, 0.5);
    border-width: thick;
    border-style: solid;
    transition: 0.3s;
}

.todoblockname {
    font-size: 1.5em;
}

.todoblockinput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
}

.todoblockbuttontype {
    margin: 3% 3% 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.todotypetext {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.todoinput {
    font-size: 1em;
    margin: 3%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    max-width: 100%;
    width: 70%;
    font-family: "Maiandra GD", serif;
}

.todoinput:focus {
    border-bottom: 1px solid mediumorchid;
}

.addbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    height: 100%;
    max-width: 100%;
}

.addbutton:hover {
    background-color: darkorchid;
}

.activetab {
    background-color: mediumorchid;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 100%;
    width: 30%;
}

.activetab:hover {
    background-color: darkorchid;
}

.nonactivetab {
    background-color: #cccccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    margin-right: 1%;
    margin-left: 1%;
    max-width: 100%;
    width: 30%;
}

.nonactivetab:hover {
    background-color: #e0e0e0;
}

.todomainblock {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 32px;
    padding-top: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: "Maiandra GD", serif;
    font-size: large;
    letter-spacing: 1px;
    transition-duration: 2s;
    width: 90%;
}

.todo {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: mediumorchid solid 1px;
    flex-wrap: wrap;
    box-shadow: -16px 18px 16px 4px rgba(34, 60, 80, 0.11);
}

.todobuttons {
    max-width: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
}

.tododonebutton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    margin: 5px;
    max-width: 100%;
}

.tododonebutton:hover {
    background-color: hotpink;
}

.tododeletebutton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: #cccccc;
    outline: none;
    max-width: 100%;
}

.tododeletebutton:hover {
    background-color: #e0e0e0;
}

.task {
    font-size: 0.8em;
    font-weight: bold;
}

.todotext {
    color: black;
    transition: 0.3s;
    text-decoration: none;
}

.todotext:hover {
    color: #ff8f44;
}


.todotextdone {
    text-decoration: line-through;
    color: black;
    transition: 0.3s;
}

.todotextdone:hover {
    color: #ff8f44;
}


.textblock {
    color: black;
    margin: 1%;
    text-decoration: none;
    display: flex;
    width: 70%;
    max-width: 100%;
    cursor: default;
    transition: 0.3s;
    justify-content: space-between;
    align-items: center;
}

.project{
    border: 1px solid orange;
    color: orange;
    border-radius: 4px;
    padding: 3px;
    font-size: 0.7em;
    width: 100px;
    text-align: center;
}

.noproject{
    border: 1px solid orange;
    color: orange;
    border-radius: 4px;
    padding: 3px;
    font-size: 0.7em;
    width: 100px;
    text-align: center;
    visibility: hidden;
}

.textblock:hover {
    color: #ff6356;
}

.projectSelectWrapper{
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 3px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    padding: 6px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.projectSelectWrapper:hover{
    box-sizing: border-box;
    border: 3px solid darkorchid;
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: darkorchid;
    cursor: pointer;
}

.projectSelect {
    height: 100%;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid mediumorchid;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
}

.projectSelect:hover {
    /*border: 2px solid darkorchid;*/
    border: 2px solid #ffffff;
}

.projectSelect:focus {
    border: 2px solid #ffffff;
    font-weight: bold;
}

.projectSelect > option {
    outline: none;
    font-weight: bold;
}

.todoprojectblockheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.todoprojectblockbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.todoinputproject {
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    max-width: 100%;
    font-family: "Maiandra GD", serif;
}

.todoinputproject:focus {
    border-bottom: 1px solid darkorchid;
}

.addbuttonproject {
    padding: 5px 7px;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: mediumorchid;
    outline: none;
    max-width: 100%;
    width: 300px;
    height: 50%;
}

.addbuttonproject:hover {
    background-color: darkorchid;
}

.todoblockinputproject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}


/***************************
****************************
Адаптив
****************************
***************************/

@media screen and (max-width: 991px) {

    .todoinput {
        width: 100%;
    }

    .addbutton {
        width: 100%;
    }

    .todotypetext {
        font-size: 1.1em;
    }

    .textblock {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 767px) {

    .activetab {
        width: 100%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

    .nonactivetab {
        width: 100%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

    .todo {
        height: auto;
        box-shadow: -16px 18px 16px 4px rgba(34, 60, 80, 0.11);
    }

    .textblock {
        width: 100%;
        justify-content: center;
    }

    .todobuttons {
        width: 100%;
        margin-bottom: 2%;
    }

    .tododeletebutton, .tododonebutton {
        width: 45%;
    }

    .todoblockname {
        font-size: 0.9em;
    }

    .todotypetext {
        font-size: 0.9em;
    }

    .todoinput {
        font-size: 0.9em;
    }
    .projectSelectWrapper{
        font-size: 0.9em;
    }

}

@media screen and (max-width: 575px) {
    .tododeletebutton, .tododonebutton {
        width: 90%;
    }

    .todotypetext {
        font-size: 0.7em;
    }

    .todoinput {
        font-size: 0.7em;
    }
    .projectSelectWrapper{
        font-size: 0.9em;
        width: 90%;
    }

}

