.unknownpage{
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: "Maiandra GD", serif ;
    font-size: x-large;
    width: 70%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.6);
    border-color: rgba(186, 85, 211, 0.5);
    border-width: thick;
    border-style: solid;
    margin-top:150px;
    color: #ff4229;
}



@media screen and (max-width: 767px) {
    .unknownpage {
        font-size: 1em;
        font-weight: bold;
    }
}


.link{
    text-decoration: none;
    color: mediumorchid;
    transition: 0.6s;
    margin-top: 5%;
}

.link:hover{
    color: #ff4229;
    margin-top: 5%;
}
