@font-face {
    font-family: Logo;
    src: url('./Sources/Fonts/pr.ttf');
}

@font-face {
    font-family: "Maiandra GD";
    src: url('./Sources/Fonts/maiandra.ttf');
}

body {
    margin: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./Sources/Images/pixel-heart.png");
}


.AppContainer {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}