.tictackGame__container{
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: "Maiandra GD", serif ;
    font-size: x-large;
    width: 70%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.6);
    border-color: rgba(186, 85, 211, 0.5);
    border-width: thick;
    border-style: solid;
}

.tictackGame__roomname{
    font-size: x-large;
}

.tictackGame__status{
    font-size: x-large;
}

.tictackGame__currentTurn{
    font-size: 25px;
}

.tictackGame__playerX{
    font-size: 25px;
    color: mediumorchid;
    font-weight: bold;
}

.tictackGame__playerO{
    font-size: 25px;
    color: orange;
    font-weight: bold;
}


.tictackGame__field{
    margin: 15px;
    padding: 15px;
    border: 2px dashed black;
    user-select: none;
}

.tictackGame__fieldRow{
    display: flex;
    user-select: none;
}

.tictackGame__fieldRow__cell{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    user-select: none;
}

.tictackGame__fieldRow__cell__valueX{
    color: mediumorchid;
    cursor: not-allowed;
    user-select: none;
}

.tictackGame__fieldRow__cell__valueO{
    color: orange;
    cursor: not-allowed;
    user-select: none;
}

hr{
    width: 100%;
    color: black;
    height: 2px;
}

.tictackGame__pickplayer{
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tictackGame__pickplayer__text{
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
    line-height: 25px;
    letter-spacing: 1px;
}

.tictackGame__pickplayer__button{
    margin: 5px;
    height: 50px;
    width: 160px;
    background-color: mediumorchid;
    border-radius: 12px;
    border: none;
    transition: 0.3s;
    font-family: "Maiandra GD", serif ;
    color: white;
    cursor: pointer;
    font-size: 28px;
}

.tictackGame__pickplayer__button:hover{
    background: orange;
}

.tictackGame__finished{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.tictackGame__finished a{
    text-decoration: none;
    color: mediumorchid;
    transition: 0.3s;
}

.tictackGame__finished a:hover{
    color: orange;
}

.tictackGame__finished_winner{
    color: mediumorchid;
}


/***************************
****************************
Адаптив
****************************
***************************/


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
    .tictackGame__roomname, .tictackGame__status, .tictackGame__currentTurn, .tictackGame__playerX, .tictackGame__playerO{
        font-weight: bold;
        font-size: 20px;
    }
    .tictackGame__finished{
        font-size: 16px;
        font-weight: bold;
    }
    .tictackGame__pickplayer__text{
        font-size: 20px;
        font-weight: bold;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}
